services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: changelater!
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: